body {
    color: black;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin-top: 20px;
    background-color: #212529;
}

@media (max-width: 500px) {
    .sidebar {
        width: 100% !important;
        margin: auto;
        height: auto !important;
    }
    .sidebar .logo {
            margin: auto;
        }
    html {
        height: 100%;
        overflow: hidden;
    }
    body {
        overflow: -moz-scrollbars-vertical;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .header {
        position: absolute !important;
        z-index: 997;
        height: 60px;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
        padding-left: -20px;
        left:50%;
    }
    .header .logo img {
       display:none;
    }
    .toggle-sidebar-btn {
        font-size: 32px;
        cursor: pointer;
        color: #012970;
        left: 10px;
        margin: auto;
        text-align: center;
        z-index: 100;
        position: fixed;
    }
    .search-bar {
        margin-left: -202px !important;
    }
}
@media (max-width: 900px) {
    #demos .owl-carousel .item {
        height: 300px !important;
    }
}

#main {
    margin-top: 45px;
}
.header {
    position: absolute !important;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding-left: -20px;
}
.toggle-sidebar-btn {
    font-size: 32px;
    cursor: pointer;
    color: #012970;
    left: 10px;
    margin: auto;
    text-align: center;
    z-index: 100;
    position: fixed;
}
.logo img {
    height: 30%;
    width: 30%;
}

.search-bar {
    margin-left: 50px;
    position: relative;
}
.search-click {
    border: 1px solid #ccc;
    -webkit-border-radius: 75px;
    opacity: 1; /* Firefox */
}
.search-click:focus {
    outline: none;
    background-color: bisque;
    width: 300px;
    text-align:center;
}

.sidebar {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    z-index: 996;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: bisque;
}
.sidebar-nav {
    list-style: none;
    padding-left: 0;
}
.sidebar-nav li {
        margin-bottom: 5px
}
.sidebar-nav li a {
        color: #4154f1 !important;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        background: #f6f9ff;
        border-radius: 40px;
    }
.sidebar-nav li a i {
                margin-right: 10px;
}

 #demos .owl-carousel .item {
    padding: 1rem;
    margin: auto;
    overflow: hidden;
    height:700px;
}
 #demos .owl-carousel .item img {
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

.image-box {
    background-color: bisque;
}
.image-box img {
    width: 100%;
    margin: auto;
}
.image-box .body {
   padding: 15px;
   text-align: center;
}  

 h3 {
    text-align: center;
}
.btnSearch {
    position: absolute;
    right: 0px;
    height: 30px;
    border-bottom-right-radius: 16px;
}


footer {
    background-color: bisque;
    color: black;
    bottom: 0 position: absolute !important;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding-left: -20px;
    height: auto;
    text-align: center;
}
footer .box {
    position: relative;
    margin-bottom: 2rem;
}


@media (max-width: 500px) {
    footer {
       width:auto;
    }
}
.header .logo img {
    display: none;
}